@import "tailwindcss";

* {
  scroll-behavior: smooth;
}

body {
  background: #000;
  font-family: 'General Sans', sans-serif;
}

@layer utilities {
  .c-space {
    @apply sm:px-10 px-5;
  }

  .text-gray_gradient{
    @apply bg-linear-to-r from-slate-500 to-slate-300 bg-clip-text text-transparent;
  }
}

/* WAVING HAND ANIMATION */

.waving-hand {
  animation-name: wave-animation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(14deg);
  }
  30% {
    transform: rotate(-8deg);
  }
  40% {
    transform: rotate(14deg);
  }
  50% {
    transform: rotate(-4deg);
  }
  60% {
    transform: rotate(10deg);
  }
  70% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* ROCKET LAUNCH ANIMATION */

.rocket-launch {
  animation: rocket-launch 2s ease-in forwards;
  transform-origin: center;
}

@keyframes rocket-launch {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }

  20% {
    transform: translate(10px, -20px) scale(1.05);
  }

  100% {
    transform: translate(300px, -400px) scale(0.8);
    opacity: 0;
  }
}
